@model UserLogin
<h1>Login</h1>
<form asp-action="Login" method="post" class="form-group">
    <p>
        <p><span asp-validation-for="LoginEmail" class="text-danger">  </span></p>
        <label asp-for="LoginEmail"></label>
        <input  asp-for="LoginEmail" class="form-control" >
    </p>
    <p>
        <p><span asp-validation-for="LoginPassword" class="text-danger">  </span></p>
        <label asp-for="LoginPassword"></label>
        <input  asp-for="LoginPassword" class="form-control" >
    </p>
    <p>
        <input  type="submit"class="btn btn-outline-primary btn-block" >
    </p>
</form>